<div class="vis-container">
  <div class="choices-container">

  <% @specs.each_with_index do | spec, index | %>


    <div class="choice" id="vis<%= index %>">
      <div class=" specs"
      data-json = "<%= spec.json %>"
      data-id="<%= index %>"></div>
    </div>

  <% end %>
  </div>
</div>
