<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<body>
<div id="edges" data-edges="<%= @edges.to_json %>"></div>
<div id="specs" data-specs="<%= @specs.to_json %>"></div>
<div class="row" id="generated-specs">
  <div class="col-xs-8 col-md-8">
    <div id="vis-map">
    </div>
  </div>
  <div class="col-xs-4 col-md-4">
    <div id="vis">
    </div>
  </div>
</div>