<h3>Create a new Embedment</h3>
<%= form_for @embedment do |f| %>

  <%= render partial: "form", locals: {f: f} %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Save", class: "btn btn-success"  %>
      <%= link_to "Back", embedments_path(), class: "btn btn-info" %>
    </div>
  </div>

<% end %>