<style type="text/css">
  svg {
      position: absolute;
      top: 0;
      left: 0;
  }
</style>
<div id="spec-coordinates" data-spec-coordinates="<%= @coordinates.to_json %>"></div>
<div id="specs" data-specs="<%= @specs.to_json %>"></div>
<div class="row">
  <div class="col-xs-8 col-md-8">
    <h3><%= @embedment.title %></h3>
  </div>
  <div class="col-xs-4 col-md-4">
    <div class="vlr-btn-container">
      <%= link_to "Back", embedments_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-md-8">
    <div id="vis-map">
    </div>
  </div>
  <div class="col-xs-4 col-md-4">
    <div id="vis">
    </div>
  </div>
</div>
