<div id="human-answers" data-human-answers="<%= @human_answers.to_json(include: :triplet) %>"></div>
<div id="specs" data-specs="<%= @specs.to_json %>"></div>
<div id="rule" data-rule="<%= @rule.to_json %>"></div>

<div id="query-triplet" style="position: fixed; bottom: 10px; right: 10px; background-color: white; z-index: 10; display: flex;">
  <div id="query-ref-vis">ref</div>
  <div id="query-left-vis">left</div>
  <div id="query-right-vis">right</div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
    <table class="table table-hover" id="comparing-table">


    </table>
    </div>
  </div>
</div>